<div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" id="logo-big"*ngIf="!showSettings && !searchResult">
    <img class="img-responsive center-block" src="../assets/img/logo-big.png" alt="Logo">
</div>
<div class="container-fluid grid">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">

            <div id="srch-group">
                <form class="form-horizontal">
                    <h2 id="srch-heading">Suche</h2>
                    <div class="form-group">
                        <label for="srch-route-begin" class="col-xs-12 col-sm-2 control-label">Startland</label>
                        <div class="col-xs-12 col-sm-10">
                            <input class="form-control" type="text" [(ngModel)]="searchParam.startCountry"
                                   placeholder="Startland" id="srch-route-begin" name="start-country">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="srch-route-end" class="col-xs-12 col-sm-2 control-label">Zielland</label>
                        <div class="col-xs-12 col-sm-10">
                            <input class="form-control" type="text" [(ngModel)]="searchParam.endCountry"
                                   placeholder="Zielland" id="srch-route-end" name="end-country">
                        </div>
                    </div>
                    <div id="collapseExample" [ngbCollapse]="!showSettings">
                        <div class="form-group row">
                            <label for="srch-route-name" class="col-xs-12 col-sm-2 control-label">Name</label>
                            <div class="col-xs-12 col-sm-10">
                                <input class="form-control" type="text" [(ngModel)]="searchParam.name"
                                       placeholder="Routenname" id="srch-route-name" name="name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="srch-route-duration" class="col-xs-12 col-sm-2 control-label">Dauer</label>
                            <div class="col-xs-12 col-sm-10">
                                <select class="form-control" id="srch-route-duration"
                                        (change)="setDuration($event.target.value)">
                                    <option value="0;365">Bitte wählen...</option>
                                    <option value="0;1">max. 1 Tag</option>
                                    <option value="1;3">1-3 Tage</option>
                                    <option value="3;5">3-5 Tage</option>
                                    <option value="5;7">5-7 Tage</option>
                                    <option value="7;14">7-14 Tage</option>
                                    <option value="14;365">14+ Tage</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 control-label">Entfernung</label>
                            <div class="col-xs-12 col-sm-10">
                                <nouislider #distanceSlider id="srch-route-distance" name="srch-route-distance" [connect]="true"
                                            [min]="searchDistanceMin"
                                            [max]="searchDistanceMax" [step]="5" (ngModelChange)="setDistance($event)"
                                            [(ngModel)]="searchDistance" [tooltips]="[ true, true ]"
                                            style="margin-top: 2.5em;"></nouislider>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="srch-route-difficulty"
                                   class="col-xs-12 col-sm-2 control-label">Schwierigkeit</label>
                            <div class="col-xs-12 col-sm-10" data-toggle="buttons">
                                <nouislider #difficultySlider id="srch-route-difficulty" (ngModelChange)="setDifficulty($event)"
                                            [(ngModel)]="searchDifficulty" [config]="sliderConfig" style="margin-bottom: 2.5em;"
                                            name="srch-route-difficulty"></nouislider>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-2 control-label">Bewertung</label>
                            <div class="col-xs-12 col-sm-10">
                                <ngb-rating [(rate)]="searchParam.minRating" max="5">
                                    <ng-template let-fill="fill">
                                        <span class="star" id="minRating" [class.filled]="fill === 100">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-expand" (click)="showSettings = !showSettings"
                                [attr.aria-expanded]="showSettings" aria-controls="collapseExample">
                            <i *ngIf="!showSettings" class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
                            <i *ngIf="showSettings" class="fa fa-chevron-up fa-2x" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-search slider-color" (click)="searchTracks()">
                            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="searchResult" id="results" class="row">
        <div class="col-xs-12">
            <h2 id="results-heading">Suchergebnisse</h2>
        </div>
        <div class="table-responsive col-xs-12">
            <table class="table table-striped">
                <tr class="thead">
                    <th> Name</th>
                    <th> Startland</th>
                    <th> Zielland</th>
                    <th><i class="fa fa-clock-o fa-fw"></i> Dauer</th>
                    <th><i class="fa fa-road fa-fw"></i> Entfernung</th>
                    <th><i class="fa fa-signal fa-fw"></i> Schwierigkeit</th>
                    <th><i class="fa fa-star-o fa-fw"></i> Bewertung</th>
                </tr>
                <tr *ngFor="let track of searchResult">
                    <td>{{track.name}}</td>
                    <td>{{track.startCountry}}</td>
                    <td>{{track.endCountry}}</td>
                    <td>{{track.duration}} Stunden</td>
                    <td>{{track.distance}} km</td>
                    <td>{{DIFFICULTY_TEXT[track.difficultyAvg.toPrecision(1)]}}</td>
                    <td><ngb-rating [(rate)]="track.ratingAvg" max="5" [readonly]="true">
                        <ng-template let-fill="fill">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating></td>

                </tr>
            </table>
        </div>
    </div>
</div>