@import "../../../colors.scss";

.btn, ngb-rating {
    outline: 0;
}

.btn-chkBx i.fa {
    opacity: 0;
}
.btn-chkBx.active i.fa {
    opacity: 1;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-search {
    margin-right: 16px;
    opacity: 1;
    padding-right: 2em;
    padding-left: 2em;
    background-color: $color-accent;
    color: white;
}

.btn-expand:hover, .btn-expand:active {
    color: $color-darkAccent;
}

.btn-expand {
    color: $color-accent;
    background-color: transparent;
}

.btn-search:hover {
    background-color: $color-darkAccent;
}

#logo-big {
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

#srch-heading, #results-heading {
    padding-bottom: 1em;
    font-weight: bold;
}


#srch-group, #results {
    background-color: rgba(231,231,231,0.95);

}

#srch-group {
    padding: 3em;
    border-radius: 1em;
}

#results {
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 5rem;
}

.thead {
    color: $color-backgrounds;
    background-color: $color-accent !important;
}


.star {
    color: $color-inactiveAccent;
}

.filled {
    color: $color-accent;
}

#minRating {
    font-size: 3rem;
}

nouislider {
    margin: 16px;
}

table {
    text-align: left;
}