<div id="details-page" class="container-fluid col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <h2 *ngIf="track" id="sponsor-heading">Sponsern die Route {{track.name}}!</h2>
    <h4 *ngIf="track">Wählen Sie einen Start- und Endpunkt der Strecke die Sie finanziell unterstützen wollen:</h4>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-9" id="map-frame" *ngIf="track">
            <agm-map [latitude]="track.points[0][1]" [longitude]="track.points[0][0]" [zoom]="15">
                <agm-marker-cluster
                        imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">

                    <agm-polyline strokeColor="#c2c2a3" (lineClick)="polylineClicked($event)" clickable="true">

                        <agm-polyline-point *ngFor="let coord of track.points" [latitude]="coord[1]"
                                            [longitude]="coord[0]">
                        </agm-polyline-point>

                    </agm-polyline>

                    <div *ngIf="sponsors">
                        <agm-polyline *ngFor="let sponsorPart of track.sponsorParts"
                                      strokeColor="{{getSponsorColor(sponsorPart.sponsorId)}}"
                                      strokeOpacity="0.5" (lineClick)="polylineClicked($event)"
                                      clickable="true">

                            <agm-polyline-point *ngFor="let coord of sponsorPart.points" [latitude]="coord[1]"
                                                [longitude]="coord[0]">
                            </agm-polyline-point>

                        </agm-polyline>
                    </div>
                    <div *ngIf="selectedSponsorPart">
                        <agm-polyline strokeWeight="6"
                                      strokeColor="{{getSponsorColor(selectedSponsorPart.sponsorId)}}">

                            <agm-polyline-point *ngFor="let coord of selectedSponsorPart.points"
                                                [latitude]="coord[1]"
                                                [longitude]="coord[0]">
                            </agm-polyline-point>

                        </agm-polyline>
                    </div>

                    <agm-marker *ngIf="selectedPosition && getUser()" [latitude]="selectedPosition.coord[0]"
                                [longitude]="selectedPosition.coord[1]"
                                [openInfoWindow]="true">
                        <agm-info-window isOpen="true" (infoWindowClose)="infoWindowClosed($event)">
                            <button type="button" class="btn btn-add"
                                    (click)="setStartpoint(selectedPosition.coord[1], selectedPosition.coord[0])">
                                <i class="fa fa-plus" aria-hidden="true"></i> Als Start setzen
                            </button>
                            <br/>
                            <button type="button" class="btn btn-add"
                                    (click)="setEndpoint(selectedPosition.coord[1], selectedPosition.coord[0])">
                                <i class="fa fa-plus" aria-hidden="true"></i> Als Ende setzen
                            </button>
                        </agm-info-window>
                    </agm-marker>
                    <div *ngFor="let poi of track.pois; let i = index">
                        <agm-marker iconUrl="../assets/img/map-icons/poi-map-icon.png" (markerClick)="poiClick(poi)"
                                    label="{{LETTERS[i+1]}}" [latitude]="poi.location[1]"
                                    [longitude]="poi.location[0]"></agm-marker>
                    </div>

                    <div *ngFor="let story of track.stories; let i = index">
                        <agm-marker iconUrl="../assets/img/map-icons/story-map-icon.png"
                                    (markerClick)="storyClick(story)" label="{{i+1}}" [latitude]="story.point[1]"
                                    [longitude]="story.point[0]"></agm-marker>
                    </div>
                </agm-marker-cluster>
            </agm-map>
        </div>

        <div class="col-xs-12 col-md-4 col-lg-3" id="sidebar">
            <ngb-tabset>
                <ngb-tab *ngIf="newSponsorPart" title="SponsorPart">
                    <ng-template ngbTabContent>
                        <table class="table">
                            <tr>
                                <td class="text-right table-fit">StartPoint:</td>
                                <td>
                                    {{newSponsorPart.startPoint?(newSponsorPart.startPoint[0]|number:'1.4-4')+",
                                    "+(newSponsorPart.startPoint[1]|number:'1.4-4'):''}}
                            </tr>
                            <tr>
                                <td class="text-right table-fit">EndPoint:</td>
                                <td>{{newSponsorPart.endPoint?(newSponsorPart.endPoint[0]|number:'1.4-4')+",
                                    "+(newSponsorPart.endPoint[1]|number:'1.4-4'):''}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right table-fit">Entfernung:</td>
                                <td>{{newSponsorPart.distance?(newSponsorPart.distance|number:'1.2-2') + 'km': 'wird
                                    berechnet...'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right table-fit">Preis:</td>
                                <td>{{newSponsorPart.price?(newSponsorPart.price|number:'1.2-2') + '€': 'wird
                                    berechnet...'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right table-fit">Organisation:</td>
                                <td>
                                    <div class="form-group">
                                        <select [(ngModel)]="newSponsorPart.sponsoredId" name="statusselect"  class="col-xs-8 form-control">
                                            <option value="">Bitte wählen...</option>
                                            <option *ngFor="let org of organisations" [ngValue]="org.id">
                                                {{org.name}}
                                            </option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right table-fit">Grund für die Spende:</td>
                                <td>
                                    <textarea class="form-control" rows="5" id="text" [(ngModel)]="newSponsorPart.comment"></textarea>
                                </td>
                            </tr>
                        </table>
                        <button style="margin-bottom: 1em" class="btn btn-warning"  (click)="backClicked()">Zurück</button>
                        <button style="margin-bottom: 1em" [disabled]="!isBuyable()" class="btn btn-success" (click)="addSponsorPart()">Abschnitt Kaufen</button>


                    </ng-template>
                </ngb-tab>
                <ngb-tab *ngIf="track" title="Detail">
                    <ng-template ngbTabContent>
                        <table class="table">
                            <tr>
                                <td class="text-right table-fit">Name:</td>
                                <td>{{track.name}}</td>
                            </tr>
                            <tr>
                                <td class="text-right table-fit">Entfernung:</td>
                                <td>{{track.distance}} km</td>
                            </tr>
                            <tr>
                                <td class="text-right table-fit">Dauer:</td>
                                <td>{{track.duration}} Std.</td>
                            </tr>
                            <tr>
                                <td class="text-right table-fit">Start:</td>
                                <td>{{track.startPoint}}</td>
                            </tr>
                            <tr>
                                <td class="text-right table-fit">Ziel:</td>
                                <td>{{track.endPoint}}</td>
                            </tr>
                            <tr>
                                <td class="text-right table-fit">Bewertung:</td>
                                <td>
                                    <ngb-rating [(rate)]="track.ratingAvg" max="5" [readonly]="true">
                                        <ng-template let-fill="fill">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right table-fit">Schwierigkeit:</td>
                                <td>
                                    <ngb-rating [(rate)]="track.difficultyAvg" max="5" [readonly]="true">
                                        <ng-template let-fill="fill">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                </td>
                            </tr>
                        </table>
                    </ng-template>
                </ngb-tab>

                <ngb-tab *ngIf="track" title="Sponsor">
                    <ng-template ngbTabContent>

                        <div id="sidebar-list" *ngFor="let part of track.sponsorParts; let i = index">
                            <div *ngIf="getSponsor(part.sponsorId)"
                                 class="sidebar-list-item row vertical-align">
                                <div class="col-xs-2 number" (click)="showSponsorPart(part)">{{i+1}}</div>
                                <div class="col-xs-7">
                                    <h4 (click)="showSponsorPart(part)">{{getSponsor(part.sponsorId).name}} <br/>
                                        Länge: {{part.distance}} km
                                        <br/>
                                    </h4>
                                </div>
                                <div class="col-xs-3 no-padding"><img class="img-responsive"
                                                                      [src]="getMedia(getSponsor(part.sponsorId).imageSmall)">
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>

            <!--<div id="sidebar-ribbon" class="row">
                <div class="col-xs-4 sidebar-ribbon-item active" id="rbn-btn-poi">POI</div>
                <div class="col-xs-4 sidebar-ribbon-item" id="rbn-btn-story">Story</div>
                <div class="col-xs-4 sidebar-ribbon-item" id="rbn-btn-sponsor">Sponsor</div>
            </div>
            <div id="sidebar-list">
                <div class="sidebar-list-item row vertical-align">
                    <div class="col-xs-2 number">1</div>
                    <div class="col-xs-7"><h4>Poi 1 <br/><small>Lorem ipsum dolor sit amet, consetetur sadipscing elitr ...</small></h4></div>
                    <div class="col-xs-3 no-padding"><img class="img-responsive"src="assets/img/100x100sample.jpg"></div>
                </div>
            </div>
            -->

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="info-frame" *ngIf="selectedPoi">
            <div class="row vertical-align">
                <div class="col-xs-11"><h2>{{selectedPoi.name}}</h2></div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!--<ol class="carousel-indicators" *ngFor="let media of selectedElement.media; let k = index">
                            <li data-target="#myCarousel" data-slide-to="0"></li>
                        </ol>-->
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div *ngFor="let media of selectedPoi.media; let i = index"
                                 class="{{i==1 ? 'item active' : 'item'}}">
                                <img [src]="getMedia(media.reference)" [alt]="media.reference">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel -control" href="#myCarousel" data-slide="next">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-6">
                    {{selectedPoi.description}}
                </div>
            </div>
        </div>
        <div class="col-xs-12" id="info-frame" *ngIf="selectedStory">
            <div class="row vertical-align">
                <div class="col-xs-11"><h2>{{selectedStory.title}}</h2></div>
            </div>

            <div class="row">
                <img src="https://l2vba9toe9.execute-api.us-west-2.amazonaws.com/api/media/test2.jpg">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!--<ol class="carousel-indicators" *ngFor="let media of selectedElement.media; let k = index">
                            <li data-target="#myCarousel" data-slide-to="0"></li>
                        </ol>-->
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div *ngFor="let media of selectedStory.media; let i = index"
                                 class="{{i==1 ? 'item active' : 'item'}}">
                                <img [src]="getMedia(media.reference)" [alt]="media.reference">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-6">
                    {{selectedStory.text}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 info-frame" *ngIf="selectedSponsorPart">
            <div class="vertical-align">
                <div class="col-xs-12"><h2>Sponsor: {{getSponsor(selectedSponsorPart.sponsorId).name}}</h2></div>
            </div>
            <div class="vertical-align col-xs-12 bgColor">
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <img class="img-responsive"
                         [src]="getMedia(getSponsor(selectedSponsorPart.sponsorId).imageLarge)"
                         [alt]="getSponsor(selectedSponsorPart.sponsorId).name">
                    {{getSponsor(selectedSponsorPart.sponsorId).description}}
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active"
                             role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                             style="width: 100%">
                            <span style="font-size: 2.5em"><i class="fa fa-money" aria-hidden="true"></i> {{selectedSponsorPart.price|number:'1.2-2'}} <i
                                    class="fa fa-eur" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div id="sponsorComment">
                        {{selectedSponsorPart.comment}}
                    </div>

                </div>
                <div class="col-xs-12 col-sm-4 col-lg-3">
                    <!--<img class="img-responsive" [src]="getMedia(getOrganisation(selectedSponsorPart.sponsoredId).imageLarge)">-->
                    <img class="img-responsive"
                         [src]="getMedia(getOrganisation(selectedSponsorPart.sponsoredId).imageLarge)"
                         [alt]="getOrganisation(selectedSponsorPart.sponsoredId).name">
                    {{getOrganisation(selectedSponsorPart.sponsoredId).description}}
                </div>
            </div>
        </div>
    </div>
</div>


